.backgrounddiv{
    background-color: aqua;
    background-size: cover;
    height: fit-content;
    width: 42vh;
    text-align: center;
    margin: 60px;
    padding: 75px;
    border-radius: 2vh;
}
.first_page_main_heading{
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight:bolder;
    font-size: 3vh;
    color: aliceblue;
    
}

.main_page_nameenter{
    width: 20vh;
    text-align: center;
}
.btns_main{
    background-color:rgb(0, 84, 181);
    transition: background-color 0.25s ;
    height:5vh;
    border-radius: 5px;
    border-width: 0px;
    font-size: medium;
}
.btns_main:hover{
    background-color:darkviolet;
}